.wraper {
  margin :0px;
  width: 100%;
}
.add:link {
    color: grey;
}
.add:hover {
  color: #21252B;
}
.add: visited {
  color: #21252B;
}
a.header {
  color: black;
}
a.header:hover {
  color: #1e70bf;
}
