<template name="User_Header">
  <div class="ui top fixed borderless menu">
    <div class="ui grid">
      <div class="computer only row">
        <div class="ui top fixed borderless menu">
          <div class="ui container">
            <div class="item"><h1>ShareYourNotes</h1></div>
            <a class="{{isActiveRoute "My_Board_Page"}} item" href="{{pathFor "My_Board_Page" username=routeUserName}}">My
              Board</a>
            <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Filter</a>
            <div class="right aligned item">{{> Cas_Login }}</div>
          </div>
        </div>
      </div><!--end computer only-->
      <div class="tablet mobile only row">
        <div class="column">
          <div class="ui mobile borderless compact menu">
            <a id="mobile_item" class="item"><button class="ui menu button"><i class="bars icon"></i></button></a>
            <div class="item"><h2>Share Your Notes</h2></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui pushable segment">
      <div class="ui sidebar vertical menu">
        <div class="ui container">
          <a class="{{isActiveRoute "My_Board_Page"}} item" href="{{pathFor "My_Board_Page" username=routeUserName}}">My
            Board</a>
          <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Filter</a>
          <div class="right aligned item">{{> Cas_Login }}</div>
        </div>
      </div>
    </div>
  </div>
</template>