<template name="User_Header">
  <div class="ui top fixed borderless menu">
    <div class="ui grid">
      <div class="computer only row">
        <div style = "margin-bottom: -8px;" class="ui top fixed borderless menu">
          <div class="ui container">
            <div style = "color: #F2711C;" class="item"><h1>ShareYourNotes</h1></div>
            <a class="{{isActiveRoute "Find_Note_Page"}} item" href="{{pathFor "Find_Note_Page" username=routeUserName}}">Fine Note</a>
            <a class="{{isActiveRoute "My_Board_Page"}} item" href="{{pathFor "My_Board_Page" username=routeUserName}}">My
              Board</a>
            <!--<a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Filter</a>-->
            <a class="ui floating dropdown right aligned item" href="{{pathFor "Profile_Page" username=routeUserName}}">
              {{#if profile.firstName}}{{profile.firstName}} {{profile.lastName}}{{/if}}
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="{{pathFor "Edit_Profile_Page" username=routeUserName}}">Edit Profile</a>
                <a class="item cas-logout">Logout</a>
              </div>
            </a>
            </div>
        </div>
      </div><!--end computer only-->
    </div>
  </div>
  <hr/>
</template>
