.ui.pushable.segment {
  background: url("backimg-crop2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top.borderless.menu {
  border: none;
  box-shadow: none;
  outline: none;
}
#content {
  min-height: 200px !important;
}
.ui.grid{
  padding: 0 !important;
}
.pushable.segment{
  margin: 0 !important;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}
.ui.mobile.menu {
  background: none;
  border: none;
  box-shadow: none;
}
a#mobile_item.item {
  background: none;
}
.landing-menu {
  padding: 10px 10px 0px 10px;
}

.landing-section-2 {
  background: url('https://github.com/hailing-li/hailing-li.github.io/blob/master/backimg-crop1.jpg?raw=true') no-repeat center fixed;
  height: 800px;
  background-size: cover;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #00B5AD;
  color: #E5F9E7;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #00B5AD;
  color: #E5F9E7;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}
