body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: black;
  color: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
}

.status {
  margin-bottom: 10px;
}

.square {
  color: white;
  background: none;
  border: none;
  float: left;
  font-size:100px;
  font-weight: bold;
  line-height: 34px;
  height: 130px;
  margin-right: -1px;
  padding: 0px;
  text-align: center;
  width: 130px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  width: 200px;
}

.red {
  color: red;
}
#game-board {
  background: url('https://c1.staticflickr.com/4/3593/3434928667_19362fb2cc.jpg') no-repeat;
  height: 400px;
  background-size: 400px 400px;
}
#game-title .header {
  color: white;
  font-size: 100px;
}
button.ui.inverted.black.button {
  width: 150px;
  margin-top: 5px;
}
button.ui.inverted.black.button:hover {
  color: black;
  background: white;
}